* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Container class for layout width restriction */
.container {
    max-width: 980px;
    margin: auto;
}

:root {
    font-family: 'Comic Neue', sans-serif;
    scroll-behavior: smooth;
    color: var(--textmain-color);
}

main {
    background-image: linear-gradient(var(--background-main-light-color), transparent);
    max-width: 980px;
    margin: auto;
    padding: 20px 0 40px 0;
}

/*we can put color variables here*/

img {
    display: block;
    width: 100%;
}