.header {
    background-image: linear-gradient(var(--background-outer-field-color), transparent);
}

.header__container {
    background-image: linear-gradient(var(--background-main-light-color), transparent);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    gap: 20px;
}

.header__container-logo {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
}

.header__logo-image   {
    width: 50px;
    height: 50px;
}

.header__logo-text {
    font-size: 24px;
    font-weight: 600;
    color: var(--text-main-color);
    font-family: 'Leckerli One', cursive;
}

.header__container-buttons {
    display: flex;
    gap: 20px;
}

.header__button {
    background-color: var(--background-outer-field-color);
    border: 1px solid var(--text-main-color);
    border-radius: 8px;
    padding: 10px 20px;
    font-size: 16px;
    color: var(--text-main-color);
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    font-family: leckerli one, cursive;
}

.header__button:hover {
    background-color: var(--text-main-color);
    color: var(--background-outer-field-color);
}

@media (max-width: 600px) {
    .header__container {
        display: flex;
        gap: 20px;
        padding: 20px 10px;
    }

    .header__container-logo {
        gap: 10px;
    }

    .header__container-buttons {
        gap: 10px;
    }
}